@charset "UTF-8";
* {margin: 0; padding: 0;}
body {
	font-family: Segoe,Tahoma,Arial,Verdana,sans-serif;
	font-size: 13pt;
	color: #3D3737;
	background-color: #271C22;
	}

body, p, div {padding:0000;  margin:0000;} /*styling reset*/

#outerWrapper {width: 80%;
			   margin: 10px auto 10px auto;
			   background-color: #271C22;
			   padding: 5px;
			      }
				  
/*Header*/
.logo	{font-size: 3em;
		padding: 2px;
		 border: 2px solid #3D3737;
		 background-color: #806969;
		 text-align: center;
		 -webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		box-shadow: 5px 5px 5px #000000;
			 }
			 
/*Top Menu Styling*/
nav {background-color: #BDA998;
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #3D3737;
	text-align: center;}
	
nav ul li {display: inline-block;
	   width: 20%;
	   list-style-type: none;}
	   
nav ul li a {text-decoration: none;
		 display: inline-block;
		 text-align: center;
		 width: 100%;}

nav ul {padding: 0;
	  margin: 0;}

nav ul li a:link {color: #3D3737;}

nav ul li a:visited {
             color: #3D3737;}

nav ul li a:hover {background-color: #7B7068;
		       color: #FFF6F6;
			   font-weight: 200;}
			   
.pageactive {color: #000000;
			font-weight: 500;}
			
/*Main Styling*/

#main {border: 1px solid #3D3737;
	   min-height: 600px;
	   background-color: #FFF6F6;}
	   
h1, h2, h3 {text-align: center;}

section {padding:0 20px 0 20px;}

article {padding: 0 20px 0 20px;}

p {text-align: justify;}



/*Images*/
img {margin: 5px;}
.teamPic {float: right;
			}
.cityPic {float: left;
			}

/*Footer Styling*/
footer {	text-align: center;
		background-color: #806969;
		 border: 2px solid #3D3737;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		box-shadow: 5px 5px 5px #000000;
		padding: 10px 0 10px 0;
		margin-top: 10px;
		}

/*Form*/
form	{
	background-color: #A89898;
	width: 550px;
	height:400px;
	font-size: 14pt;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	margin: 5px auto 10px auto;
	padding: 10px;
	border: 1px solid #3D3737;
	border: inset 1px solid #333;
	}
input		{
		width: 375px;
		display: block;
		border: 1px solid #999;
		height: 25px;
		}
textarea #feedback {
		width: 375px;
		height: 150px;
		display: block;
		}
		
input.button {
		width: 100px;
		float: right;
		background: #09C;
		color: #fff;
		height: 30px;
		border: 1px solid #999;
		}
input.button:hover {
		background: #fff;
		color: #09C;
		}


		

